*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 50px;
}

div.parent{
    width: 100%;
    height: 100vh;
    /* min-height: 570px; */
    position:relative;
    background-image: url(./background.jpg);
    background-size: cover;
    /* background-position: bottom; */
}
img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;

}
strong.carrental{
    font-size:25px;
    position: absolute;
    top: 50px;
    left: 130px;
    font-weight:900;
}
p.home{
    position: absolute;
    left:750px;
    font-weight: 100;
    top: 20px;
    font-size: 16px;
    padding: 20px,0px;
    margin: 0px,15px;
    font-family:url(https://fonts.google.com/specimen/DM+Sans?query=DM);
}
div.listing{
    position: absolute;
    top: 20px;
    left: 820px;
    font-weight:100 ;
    font-size: 17px;
}
div.testimonials{
    position: absolute;
    top: 20px;
    left: 900px;
    font-weight: 100;
    font-size: 17px;
}
div.blog{
    position:absolute;
    top: 20px;
    left: 1020px;
    font-weight: 100;
    font-size: 17px;
}
div.about{
    position: absolute;
    top: 20px;
    left: 1090px;
    font-weight: 100;
    font-size: 17px;
}
div.contract{
    position: absolute;
    top: 20px;
    left: 1170px;
    font-weight: 100;
    font-size: 17px;
}
.hero.intro h1{
    color: black;
    font-size: 57px;
}
h1{
    font-weight: 300;
    margin-top: 0px;
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-end: 0px;
    position: absolute;
    top: 160px;
    left: 244px;
    width: 415px;
    line-height: 1.2;
    margin: 0px,0px,8px;
}


div.box{
    position:absolute;
    width: 900px;
    height: 130px;
    background-color: white;
    border-radius: 7px;
    left: 220px;
    top:355px;
    box-sizing: border-box;
    padding: 40px;
    box-shadow:0 15px 30px 0px; 
}
button.select{
    position: absolute;
    height: 51px;
    border-color:rgb(23 22 22 / 20%) ;
    width: 170px;
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
     Arial, "Noto Sans", sans-serif, "Apple Color Emoji", 
     "Segoe UI Emoji", "Segoe UI Symbol", 
     "Noto Color Emoji";
     left: 250px;
     top: 383px;
     padding-left: 20px;
     padding-right: 20px;
}